@using PagedList.Mvc
@using PhonebookMVC.ViewModels.Contacts
@model ContactsListVM

@section styles
{
    <link href="@Url.Content("~/Content/PagedList.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<p>
    @Html.ActionLink("Create New", "CreateEdit", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "Contacts", FormMethod.Get, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label for="searchString" class="sr-only">Search</label>
        @Html.TextBox("SearchString", Model.SearchString as string, new { id = "searchString", @class = "form-control mb-2 mr-sm-2", placeholder = "Search..." })
    </div>
    <button type="submit" class="btn btn-info mb-2">Filter</button>
}

<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                @{
                    Model.RouteDictionary["SortOrder"] = Model.SortOrder == null || Model.SortOrder != ContactSorting.FirstNameAsc ? ContactSorting.FirstNameAsc : ContactSorting.FirstNameDesc;
                    @Html.ActionLink("First Name", "Index", Model.RouteDictionary)
                }
            </th>
            <th>
                @{
                    Model.RouteDictionary["SortOrder"] = Model.SortOrder != ContactSorting.LastNameAsc ? ContactSorting.LastNameAsc : ContactSorting.LastNameDesc;
                    @Html.ActionLink("Last Name", "Index", Model.RouteDictionary)
                }
            </th>
            <th>
                @{
                    Model.RouteDictionary["SortOrder"] = Model.SortOrder != ContactSorting.EmailAsc ? ContactSorting.EmailAsc : ContactSorting.EmailDesc;
                    @Html.ActionLink("Email", "Index", Model.RouteDictionary)
                }
            </th>
            <th>
                Groups
            </th>
            <th>
                Phones
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model.PagedContacts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @foreach (var groupItem in item.Groups)
                {
                    @Html.DisplayFor(Item => groupItem.Name)
                    @Html.Raw("</br>")
                }
            </td>
            <td>
                @Html.ActionLink("Phones", "Index", "Phones", new { id = item.ID }, new { @class = "btn btn-outline-info" })
            </td>
            <td>
                @Html.ActionLink("Edit", "CreateEdit", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PagedContacts.PageCount < Model.PagedContacts.PageNumber ? 0 : Model.PagedContacts.PageNumber) of @Model.PagedContacts.PageCount

@Html.PagedListPager(Model.PagedContacts, page => Url.Action("Index", new { page, searchString = Model.SearchString, sortOrder = Model.SortOrder }))