@model PhonesListVM

@{
    ViewBag.Title = "Phones";
}

<h2>Phones of @Model.Contact.FullName</h2>

<p>
    @Html.ActionLink("Create New", "CreateEdit", new { contactId = Model.Contact.ID }, new { @class = "btn btn-primary" })
</p>

<table class="table table-hover table-borderless">
    <thead class="table-light">
        <tr>
            <th>
                Phone Number
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model.Entities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.ActionLink("Edit", "CreateEdit", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to Contacts", "Index", "Contacts", null, new { @class = "btn btn-secondary" })
</div>
