@model PhonebookMVC.ViewModels.Groups.GroupsListVM

@{
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>

<p>
    @Html.ActionLink("Create New", "CreateEdit", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Entities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "CreateEdit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
